*{margin:0px;padding:0px;}
table{border-collapse:collapse;border-spacing:0;}
table,fieldset,img,abbr,acronym{border:0;}
address,caption,cite,code,dfn,em,th,var{border:0;font-weight:normal;font-style:normal;font-size:100%;line-height:1;font-style:normal;font-weight:normal;text-align:left;}
em{font-style:italic;}
strong{font-weight:bold;}
ol,ul{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:"";}
hr{display:none;}
a{text-decoration:none;}
body,html{margin:0px;padding:0px;width:100%;height:100%;}
body{font-size:12px;font-family:Arial,Helvetica,sans-serif;font-weight:lighter;height:100%;overflow:hidden;}
#wrapper{width:100%;height:100%;background-color:#f0f0f0;}
div#content{width:300px;height:150px;float:left;left:50%;margin-left:-150px;top:50%;margin-top:-75px;position:relative;background-color:#f0f0f0;}
div.logo{width:300px;height:60px;background-color:#f6f8f6;}
div.logo img{left:30px;position:relative;}
div.download{width:149px;height:40px;float:left;background-color:#464545;color:#fff;font-size:14px;text-align:center;line-height:40px;cursor:pointer;margin-right:2px;position:relative;}
div.download:hover{background-color:#6c6a6a;}
div.demos{width:149px;height:40px;float:left;background-color:#464545;color:#fff;font-size:14px;text-align:center;line-height:40px;cursor:pointer;position:relative;}
div.demos:hover{background-color:#6c6a6a;}
div.social{width:300px;float:left;margin-top:30px;position:relative;}
div.social img{float:left;margin-right:5px;position:relative;display:block;border:0px;}
