body{width:100%;height:100%;background-color:#fff;overflow:hidden;}
p{margin:1em 0;}
#main-container{height:100%;margin:0 auto;min-height:100%;min-width:0;width:100%;overflow:hidden;}
#sidebar{float:left;height:100%;width:350px;margin:0;min-height:0;position:relative;background-color:#f0fcf7;border-right:1px solid #D9D7C5;z-index:1;overflow:hidden;}#sidebar .logo{height:auto;margin:14px auto 0;width:130px;}#sidebar .logo img{height:auto;margin:0 auto;max-width:100%;width:auto;}
#sidebar .download{text-align:center;margin:30px auto;}#sidebar .download a{padding:10px;background-color:#6cc4ac;text-decoration:none;color:#f2f2f2;font-size:14px;}
#sidebar .download a:hover{background-color:#19a291;}
#sidebar .code{font-size:12px;color:#0e5066;font-style:italic;padding:10px;}
code{padding:10px 5px;font-size:12px;font-style:normal;background-color:#f9fcfb;display:block;border:1px dashed #458c6b;margin:20px auto;color:#020c14;}code .code-var{color:#00b454;}
code .code-string{color:#5FBDCE;}
code .code-tag{color:#027373;}
code .code-attr{color:#d94436;}
code .code-number{color:#1b76ff;}
code .code-comment{color:#959595;}
#main{height:100%;left:0;min-width:0;position:absolute;top:0;width:100%;z-index:0;}#main h1{color:#306a64;text-transform:uppercase;font-weight:lighter;margin:0;margin-bottom:20px;}
#main .scroller{width:420px;height:300px;padding:5px;padding-right:15px;overflow:hidden;}
#main p{color:#306a64;font-size:13px;text-align:justify;}
.content{width:420px;height:100%;margin-left:350px;}
.box1{width:420px;height:100%;padding:10px;background-color:#6cc4ac;}
